<table class="table table-striped">
    <thead>
        <tr>
            <td>
                <b>Id</b>
            </td>
            <td>
                <b>Product Name</b>
            </td>
            <td>
                 Action
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let values of products">
            <td>
                {{ values.id }}
            </td>
            <td>
                {{ values.name }}
            </td>
            <td>
                <span [class.selected]="values === selectedProduct"
                    (click)="onSelect(values)" routerLink="/product/edit" class="fa fa-edit "></span>
            </td>
        </tr>
    </tbody>
 </table>
 <app-edit-product [products]="selectedProduct" ></app-edit-product>