<table class="table table-striped">
    <thead>
        <tr>
            <td>
                <b>Id</b>
            </td>
            <td>
                <b>Product Name</b>
            </td>
            <td>
                 Action
            </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let product of products">
            <td>
                {{ product.id }}
            </td>
            <td>
                {{ product.name }}
            </td>
            <td>
                <span [class.selected]="product === selectedProduct"
                    (click)="onSelect(product)"  class="fa fa-edit "></span>
            </td>
        </tr>
    </tbody>
 </table>
 <app-edit-product [product]="selectedProduct" ></app-edit-product>